.box {
  width: 200px;
  height: 200px;
  line-height: 200px;
  color: white;
  text-align: center;
  vertical-align: middle;
  background: -webkit-linear-gradient(red, #ccc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, #ccc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, #ccc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, #ccc); /* Standard syntax */
}